<a href="https://colab.research.google.com/github/DaviAlefe/NiTi_DFT/blob/master/niticubicminimizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 - Dar 15 vetores de parametros iniciais
#2 - Alterar parametros iniciais no arquivo de entrada em um loop de execução, coletando energia em um csv
#3 - Fazer um fit com os parametros iniciais
#4 - Prever o minimizador
#5 - Selecionar os 15 pontos com menor energia e fazer um fit neles
#6 - Em um loop: prever o minimizador do fit anterior, repetir o passo 5, coletar dados em um csv. Parada: diferença entre as duas menores energias= 0.03 eV

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [ ]:
# ordem dos parametros: [A,B,C,cosAB]
param_opt = [2.88, 4.6, 4.1, np.cos(np.deg2rad(96))]
dparam = [0.005, 0.05, 0.05, 0.01]

In [ ]:
# parametros deslocados

A_d = [param_opt[0]+dparam[0],param_opt[0]-dparam[0]]
B_d = [param_opt[1]+dparam[1],param_opt[1]-dparam[1]]
C_d = [param_opt[2]+dparam[2],param_opt[2]-dparam[2]]
cosAB_d = [param_opt[3]+dparam[3],param_opt[3]-dparam[3]]

In [ ]:
param_init = []
for iA in range(2):
  for iB in range(2):
    for iC in range(2):
      for icos in range(2):
        param_init.append([A_d[iA], B_d[iB], C_d[iC], cosAB_d[icos]])
param_init

[[2.885, 4.6499999999999995, 4.1499999999999995, -0.09452846326765356],
 [2.885, 4.6499999999999995, 4.1499999999999995, -0.11452846326765355],
 [2.885, 4.6499999999999995, 4.05, -0.09452846326765356],
 [2.885, 4.6499999999999995, 4.05, -0.11452846326765355],
 [2.885, 4.55, 4.1499999999999995, -0.09452846326765356],
 [2.885, 4.55, 4.1499999999999995, -0.11452846326765355],
 [2.885, 4.55, 4.05, -0.09452846326765356],
 [2.885, 4.55, 4.05, -0.11452846326765355],
 [2.875, 4.6499999999999995, 4.1499999999999995, -0.09452846326765356],
 [2.875, 4.6499999999999995, 4.1499999999999995, -0.11452846326765355],
 [2.875, 4.6499999999999995, 4.05, -0.09452846326765356],
 [2.875, 4.6499999999999995, 4.05, -0.11452846326765355],
 [2.875, 4.55, 4.1499999999999995, -0.09452846326765356],
 [2.875, 4.55, 4.1499999999999995, -0.11452846326765355],
 [2.875, 4.55, 4.05, -0.09452846326765356],
 [2.875, 4.55, 4.05, -0.11452846326765355]]

In [ ]:
import numpy as np

np.rad2deg(np.arccos(-0.11452846326765355))

96.57642828823607

In [ ]:
#loop para calcular as energias dos parametros iniciais
import quantum_macchiato as qm

E = []
data = []
for i in range(len(param_init)+1):
  #altera os parametros no arquivo de entrada
  qm.chg_param('niti.monoclinic.scf.paw.in','A',param_init[i][0])
  qm.chg_param('niti.monoclinic.scf.paw.in','B',param_init[i][1])
  qm.chg_param('niti.monoclinic.scf.paw.in','C',param_init[i][2])
  qm.chg_param('niti.monoclinic.scf.paw.in','cosAB',param_init[i][3])
  #roda o arquivo com os parametros alterados
  qm.run('niti.monoclinic.scf.paw.in',nproc=32)
  #coleta a energia do arquivo de saída
  E.append(qm.collec_totE('niti.monoclinic.scf.paw.out'))
  #cria uma linha com os valores envolvidos e coloca essa linha em uma lista
  line = [param_init[i][0], param_init[i][1], param_init[i][2], param_init[i][3],E[i]]
  data.append(line)
  #escreve os resultados em um csv:
  from csv import writer
  with open('niti.monoclinic.minim.csv','w') as output:
    w = writer(output)
    w.writerow(['A [angstrom]','B [angstrom]','C [angstrom]', 'cosAB', 'Total Energy [eV]']) #escreve o header para o arquivo de saída
    for line in data:
      w.writerow(line)

ModuleNotFoundError: ignored

In [ ]:
from google.colab import files

data_init = files.upload()

Saving niti.monoclinic.minim.csv to niti.monoclinic.minim.csv

In [ ]:
data_init = pd.read_csv("niti.monoclinic.minim.csv")
data_init

    A [angstrom]  B [angstrom]  C [angstrom]     cosAB  Total Energy [eV]
0          2.885          4.65          4.15 -0.094528                NaN
1          2.885          4.65          4.15 -0.114528      -16557.338658
2          2.885          4.65          4.05 -0.094528                NaN
3          2.885          4.65          4.05 -0.114528                NaN
4          2.885          4.55          4.15 -0.094528      -16557.368706
5          2.885          4.55          4.15 -0.114528      -16557.310028
6          2.885          4.55          4.05 -0.094528      -16557.318939
7          2.885          4.55          4.05 -0.114528      -16557.286818
8          2.875          4.65          4.15 -0.094528      -16557.383484
9          2.875          4.65          4.15 -0.114528      -16557.366442
10         2.875          4.65          4.05 -0.094528                NaN
11         2.875          4.65          4.05 -0.114528                NaN
12         2.875          4.55          4.15 -0.094528                NaN
13         2.875          4.55          4.15 -0.114528      -16557.306107
14         2.875          4.55          4.05 -0.094528                NaN
15         2.875          4.55          4.05 -0.114528      -16557.284580

In [ ]:
data_init[data_init['Total Energy [eV]'].isnull()]

    A [angstrom]  B [angstrom]  C [angstrom]     cosAB  Total Energy [eV]
0          2.885          4.65          4.15 -0.094528                NaN
2          2.885          4.65          4.05 -0.094528                NaN
3          2.885          4.65          4.05 -0.114528                NaN
10         2.875          4.65          4.05 -0.094528                NaN
11         2.875          4.65          4.05 -0.114528                NaN
12         2.875          4.55          4.15 -0.094528                NaN
14         2.875          4.55          4.05 -0.094528                NaN

In [ ]:
data_init['y'] = data_init.iloc[:,4].isna()
data_init

    A [angstrom]  B [angstrom]  ...  Total Energy [eV]      y
0          2.885          4.65  ...                NaN   True
1          2.885          4.65  ...      -16557.338658  False
2          2.885          4.65  ...                NaN   True
3          2.885          4.65  ...                NaN   True
4          2.885          4.55  ...      -16557.368706  False
5          2.885          4.55  ...      -16557.310028  False
6          2.885          4.55  ...      -16557.318939  False
7          2.885          4.55  ...      -16557.286818  False
8          2.875          4.65  ...      -16557.383484  False
9          2.875          4.65  ...      -16557.366442  False
10         2.875          4.65  ...                NaN   True
11         2.875          4.65  ...                NaN   True
12         2.875          4.55  ...                NaN   True
13         2.875          4.55  ...      -16557.306107  False
14         2.875          4.55  ...                NaN   True
15         2.875          4.55  ...      -16557.284580  False

[16 rows x 6 columns]

In [ ]:
X = data_init.iloc[:,0:4]
y = data_init.y.astype(int)
X

    A [angstrom]  B [angstrom]  C [angstrom]     cosAB
0          2.885          4.65          4.15 -0.094528
1          2.885          4.65          4.15 -0.114528
2          2.885          4.65          4.05 -0.094528
3          2.885          4.65          4.05 -0.114528
4          2.885          4.55          4.15 -0.094528
5          2.885          4.55          4.15 -0.114528
6          2.885          4.55          4.05 -0.094528
7          2.885          4.55          4.05 -0.114528
8          2.875          4.65          4.15 -0.094528
9          2.875          4.65          4.15 -0.114528
10         2.875          4.65          4.05 -0.094528
11         2.875          4.65          4.05 -0.114528
12         2.875          4.55          4.15 -0.094528
13         2.875          4.55          4.15 -0.114528
14         2.875          4.55          4.05 -0.094528
15         2.875          4.55          4.05 -0.114528

In [ ]:
#a = np.array([0,1,2,3]).reshape(1,-1)
a = [[2.885,	4.65,	4.05,	-0.11452]]
pred = knn.predict(a)
pred

array([1])

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
import random
def init_gen():
  a = random.uniform(2.805-0.05,2.805+0.05)
  b = random.uniform(4.445-0.05,4.445+0.05)
  c = random.uniform(4.239-0.05,4.239+0.05)
  cosab = random.uniform(np.cos(np.deg2rad(96))-0.05,np.cos(np.deg2rad(96))+0.05)
  return [a,b,c,cosab]

In [ ]:
classes = {0:'converge',1:'não converge'}
res = []
for i in range(16):
  init = init_gen()
  pred = int(knn.predict([init]))
  res_p = init + [classes[pred], prob]
  res.append(res_p)
res = pd.DataFrame(res)
res['angulo'] = np.rad2deg(np.arccos(res[3]))
#param_init2 = np.array(res.iloc[:,0:4])
res

           0         1         2         3         4         5     angulo
0   2.822246  4.492376  4.230694 -0.137017  converge  0.666667  97.875295
1   2.801852  4.464836  4.198773 -0.113716  converge  0.666667  96.529565
2   2.811117  4.488575  4.223664 -0.126919  converge  0.666667  97.291584
3   2.820825  4.439593  4.200107 -0.055026  converge  0.666667  93.154348
4   2.826942  4.439525  4.257556 -0.055427  converge  0.666667  93.177343
5   2.813727  4.471832  4.268972 -0.087920  converge  0.666667  95.043929
6   2.762568  4.489566  4.279711 -0.112910  converge  0.666667  96.483094
7   2.792171  4.427000  4.281206 -0.129680  converge  0.666667  97.451123
8   2.825988  4.491617  4.276026 -0.134082  converge  0.666667  97.705560
9   2.764701  4.404200  4.227744 -0.113211  converge  0.666667  96.500422
10  2.814167  4.440336  4.197675 -0.082925  converge  0.666667  94.756717
11  2.810278  4.421359  4.232153 -0.147686  converge  0.666667  98.492837
12  2.757935  4.415671  4.239777 -0.080799  converge  0.666667  94.634472
13  2.814442  4.405687  4.270726 -0.116067  converge  0.666667  96.665154
14  2.771789  4.429251  4.236732 -0.149176  converge  0.666667  98.579157
15  2.842987  4.485895  4.235613 -0.121885  converge  0.666667  97.000932

In [ ]:
#sorted(range(len(lista)), key=lista.__getitem__) retorna os índices da lista organizada em ordem crescente